{% extends 'layout.html' %}
    {% block content %}

    <h1 class="text-center">About</h1>
            <div style="height: 10px;"></div>
    <div class="text-center"
    <p>The dinosaur reccommendation engine was created as part of a portfolio project by Amii Whelan. Further information can be found on <a href="https://fromtest2data.wordpress.com/">Amii's blog</a></p>
    <p>Amii has a PhD in Soil Sciences but has always been a fan of dinosaurs</p>
    <p>She is currently in the process of changing careers and this page is an example of her own work to showcase a python recommendation engine</p>
    <p>The page uses a very basic content recommendation engine where dinosaurs are recommended based on a few characteristics</p>
    <p>Amii can be contacted through the above site or found on linked in for job related enquiries.</p>
    <p>This site is not for commercial gain or use and is purely to provide a portfolio example and a bit of fun.</p>
    <p>For more dinosaur information visit <a href = "https://www.nhm.ac.uk/discover/dino-directory/">the natural history museum site</a></p>
</div>

    {% endblock content %}