{% extends 'layout.html' %}
    {% block content %}
    <h1 class="text-center">Attributes</h1>
    <div style="height: 10px;"></div>
    <h2 class="text-center">This page was created with thanks to the following sources</h2>
    <div class="text-center">
    <p>All Images are from  image from <a href="https://upload.wikimedia.org/wikipedia/commons">wikimedia and</a> used under <a href="https://creativecommons.org/licenses/by/4.0/deed.en">the creative commons license</a></p>
    <p>Data for this project is courtesy of <a href="https://www.kaggle.com/datasets/kjanjua/jurassic-park-the-exhaustive-dinosaur-dataset">Kaggle</a></p>
    <p>Information about the dinosaurs in this list can be found at the <a href = "https://www.nhm.ac.uk/discover/dino-directory/">natural history museum site</a></p>

</div>
    {% endblock content %}