{% extends 'layout.html' %}
    {% block content %}
    <h3 class="text-center">You Selected {{ selectedDinosaur }}! <h3>
        <h4>You might also like these dinosaurs. Pick your next favourite:</h4>
    <div class="container">
        <div class="card-columns">
    {% for item in result %}
        {% for dinosaur in dinosaurs | selectattr('name', 'equalto', item) %}
                
                        <div class="card mx-auto d-block" style="break-inside: avoid;">
                            <img src="{{ dinosaur.imageName }}" alt={{ dinosaur.name }} class="img-thumbnail mx-auto d-block" style="height: 20vh; width:40vh;">
                            <div class="card-body text-center">
                                <form action="{{ url_for('likedDinosaur') }}" method="post">
                                    <input type="submit" value={{ dinosaur.name }} class="btn btn-success" name='dinosaur'>
                                </form>
                                </div>
                        </div>
        {% endfor %}
    {% endfor %}
</div>
</div>
    {% endblock content %}