{% extends 'layout.html' %}
    {% block content %}

    <h1 class="text-center">Show your support</h1>
            <div style="height: 10px;"></div>
    <div class="text-center">
        <h3>If you liked this page please consider supporting us</h3>
        <h4>You can do this by sharing with your friends</h4>
        <h4>or by purchasing one of our books available through our website</h4>
        <a href="https://www.little-house-in-the-valleys.com/doris-books" class="btn btn-green btn-lg" role=""button>  Here  </a>
        <h4>or you can buy me a coffee here</h4>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="amiiwhelan" data-color="#1d965d" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
        <h4>Thank you for your support and we hope you liked the site</h4>
    
    </div>

    {% endblock content %}